* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.imagen-hero {
    width: 40rem;
}


.hero-section {
    border: none;
    border-bottom: 4px solid #DC3545;
    color: #DC3545;
    padding-bottom: 10pt;
    
}